In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data =pd.read_csv('bank/bank.csv',sep=';')

   ## About Data
   
   The data is related with direct marketing campaigns of a Portuguese banking institution. 
   The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, 
   in order to access if the product (bank term deposit) would be (or not) subscribed. 
   
   #####   **The classification goal is to predict if the client will subscribe a term deposit (variable y).**

In [3]:
# About Data
print('Total Data points: ',len(data))
print('\nBlank or Null Values\n',data.isnull().sum(),sep='')

Total Data points:  4521

Blank or Null Values
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

   ## Data Description
   
   ### Bank client data:
   1 - age (numeric)
   
   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services") 
                                       
   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
   
   4 - education (categorical: "unknown","secondary","primary","tertiary")
   
   5 - default: has credit in default? (binary: "yes","no")
   
   6 - balance: average yearly balance, in euros (numeric) 
   
   7 - housing: has housing loan? (binary: "yes","no")
   
   8 - loan: has personal loan? (binary: "yes","no")
  
  ### Related with the last contact of the current campaign:
   
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") 
  
  10 - day: last contact day of the month (numeric)
  
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  
  12 - duration: last contact duration, in seconds (numeric)
  
  ### Other attributes:
  
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")


  ### Output variable (desired target):
  
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

In [5]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
round(data.describe(),2)

           age   balance      day  duration  campaign    pdays  previous
count  4521.00   4521.00  4521.00   4521.00   4521.00  4521.00   4521.00
mean     41.17   1422.66    15.92    263.96      2.79    39.77      0.54
std      10.58   3009.64     8.25    259.86      3.11   100.12      1.69
min      19.00  -3313.00     1.00      4.00      1.00    -1.00      0.00
25%      33.00     69.00     9.00    104.00      1.00    -1.00      0.00
50%      39.00    444.00    16.00    185.00      2.00    -1.00      0.00
75%      49.00   1480.00    21.00    329.00      3.00    -1.00      0.00
max      87.00  71188.00    31.00   3025.00     50.00   871.00     25.00

In [24]:
data['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [43]:
data_gp = data.groupby('y')
for a in data.columns[:-1]:
    if data[a].dtypes == 'object':
        print(data[a].value_counts(sort=True),end='\n\n')
        print(data_gp[a].value_counts(sort=False))        
        print('---------------------------------')

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

y    job
no   admin.           420
     blue-collar      877
     entrepreneur     153
     housemaid         98
     management       838
     retired          176
     self-employed    163
     services         379
     student           65
     technician       685
     unemployed       115
     unknown           31
yes  admin.            58
     blue-collar       69
     entrepreneur      15
     housemaid         14
     management       131
     retired           54
     self-employed     20
     services          38
     student           19
     technician        83
     unemployed        13
     unknown            7
Name: job, dtype: int64
---------------------------------
married     2797
single      1196
divorced     528
Name: marital, dtype: int64

y    marital
no   divorced     451
     married     2520
     single      1029
yes  divorced      77
     married      277
     single       167
Name: marital, dtype: int64
---------------------------------
secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

y    education
no   primary       614
     secondary    2061
     tertiary     1157
     unknown       168
yes  primary        64
     secondary     245
     tertiary      193
     unknown        19
Name: education, dtype: int64
---------------------------------
no     4445
yes      76
Name: default, dtype: int64

y    default
no   no         3933
     yes          67
yes  no          512
     yes           9
Name: default, dtype: int64
---------------------------------
yes    2559
no     1962
Name: housing, dtype: int64

y    housing
no   no         1661
     yes        2339
yes  no          301
     yes         220
Name: housing, dtype: int64
---------------------------------
no     3830
yes     691
Name: loan, dtype: int64

y    loan
no   no      3352
     yes      648
yes  no       478
     yes       43
Name: loan, dtype: int64
---------------------------------
cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64

y    contact
no   cellular     2480
     telephone     257
     unknown      1263
yes  cellular      416
     telephone      44
     unknown        61
Name: contact, dtype: int64
---------------------------------
may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64

y    month
no   apr       237
     aug       554
     dec        11
     feb       184
     jan       132
     jul       645
     jun       476
     mar        28
     may      1305
     nov       350
     oct        43
     sep        35
yes  apr        56
     aug        79
     dec         9
     feb        38
     jan        16
     jul        61
     jun        55
     mar        21
     may        93
     nov        39
     oct        37
     sep        17
Name: month, dtype: int64
---------------------------------
unknown    3705
failure     490
other       197
success     129
Name: poutcome, dtype: int64

y    poutcome
no   failure      427
     other        159
     success       46
     unknown     3368
yes  failure       63
     other         38
     success       83
     unknown      337
Name: poutcome, dtype: int64
---------------------------------